@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div>
        <partial name="_RegisterPartial" />
    </div>
    <div style="float:top;">
        <partial name="_LoginPartial" />
    </div>
</div>
